


/* the css reset starts here*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* the css reset ends here */

/* the desktop view css codes starts here */

body {
  display: flex;
  flex-wrap: wrap;
}

.background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white !important;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-p {
  color: #A9592C;
  font-size: 1.25rem;
  font-weight: 800;
}

.mini-nav {
  display: flex;
}

.mini-nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin-right: 20px;
  
}

.mini-nav ul a {
  text-decoration-line: none;
  color: #000;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: capitalize;
}

.book-button {
  display: flex;
  width: 8.4375rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.1875rem;
  background: #A9592C;
  border: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: 800;
}

header .lorry-image-div {
  background: url("/images/lorry.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;

}

header .lorry-image-text {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;

}

header .lorry-image-text p {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  
}

header {
  background: linear-gradient(to right, rgb(187, 244, 244), rgb(255, 214, 221));
  padding-bottom: 30px;
}

.header-combine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px 50px 20px;
  gap: 2rem;

  
}

.header-text-div {
  display: flex;
  flex-direction: column;

}

.header-text-div h1 {
  padding-bottom: 20px;

  color: #000;
  font-size: 2rem;
  font-weight: 700;
  
}

.header-text-div p {
  padding-bottom: 20px;

  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;

}

.header-image-div img {
  width: 35rem;
  height: 25rem;
  flex-shrink: 0;
}

.stats-combine-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  background: #F4F4F4;
  background: rgba(255, 255, 255, 0.5);
}

.stats-mini-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-mini-div img {
  width: 1.6875rem;
  height: 1.75rem;
  flex-shrink: 0;
  margin-bottom: 5px;
}

.stats-mini-div h2 {
  padding-bottom: 5px;

  color: #000;
  font-size: 2rem;
  font-weight: 700;

}

.stats-mini-div p {
  color: #000;
  font-size: 1.8rem;
  font-weight: 600;
  
}

main {
  background: linear-gradient(to right, rgb(187, 244, 244), rgb(255, 214, 221));
  padding-bottom: 30px;
}

.main-combine-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 1rem;
}

.main-image-div img {
  width: 35rem;
  height: 30rem;
  flex-shrink: 0;
}

.main-text-div {
  display: flex;
  flex-direction: column;

}

.main-text-mini-combine {
  display: flex;
  margin-bottom: 20px;
 
}

.main-text-mini-div {
  display: flex;
  flex-direction: column;
}

.main-text-mini-combine img {
  width: 3.25rem;
  height: 2.91075rem;
  flex-shrink: 0;
  margin-right: 30px;
}
 
.main-text-mini-div h3 {
  padding-bottom: 20px;

  color: #000;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.main-text-mini-div p {
  padding-bottom: 20px;

  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

section {
  background: rgb(244, 244, 244);
  margin: 40px 20px;
  padding: 40px;
}

section h4 {
  padding-bottom: 10px;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

.section-mini-combine-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-mini-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.section-mini-div img {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}

.section-mini-div p {
  color: #000;
  font-size: 1rem;
  font-weight: 800;
}

article {
  background-color: white;
  padding: 20px;
  margin-bottom: 50px;
}

article p {
  text-align: center;
  text-transform: capitalize;

  color: #000;
  font-size: 2rem;
  font-weight: 700;
  padding: 30px 0;
}

.testimonials-combine-div {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.testimonials-div {
  border-radius: 0.3125rem;
  border: 0.5px solid #000;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;

  position: relative;
  
}
.testimonials-div p {
  color: #000;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
}

.testimonials-div h5 {
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
}

.testimonials-div img {
  position: absolute;
  right: 175px;
  bottom: -25px;
}

aside {
  background: #CFCFCF;
  margin: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

aside h4 {
  text-align: center;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 0;

}

.aside-image-div {
  display: flex;
  align-items: center;
  justify-content: center;

}

aside img {
  margin-right: 10px;

  width: 2.43069rem;
  height: 2.43069rem;
  flex-shrink: 0;
  
}

aside p {
  text-align: center;

  color: #000;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10px;
  
}

footer {
  background: #A9592C;
  padding-bottom: 100px;
}

.footer-combine-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 20px;
  color: white;
}

.footer-div {
  display: flex;
  flex-direction: column;
}

.footer-div h6 {
  font-size: 1.5625rem;
  font-weight: 800;
  padding-bottom: 20px;
  text-transform: capitalize;

}

.footer-div p {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer-div ul {
  list-style: none;
}

.footer-div li {
  line-height: 1.8rem;
}

.footer-div li a {
  text-decoration: none !important;
  color: white !important;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;

}

.footer-mini-combine-div {
  display: flex;
  flex-direction: column;
}

.footer-mini-div {
  display: flex;
  margin-bottom: 10px;
}

.footer-mini-div img {
  margin-right: 20px;
}

.socials {
  margin-left: 20px;
  width: 6.875rem;
  height: 1.4375rem;
  flex-shrink: 0;
}

/* the desktop view css codes starts here */